html{
    font-size: 16px;
}
*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 90vh;  
}
.screen .total{
    margin-right: 20px;
    width: 73%;
    height: 2rem;
    margin-bottom: 10px;
    border-radius: 20px;
    border: transparent;
    padding-right: 20px;
}
.container{
    width: 45%;
    min-width: 250px;
    background-color: rgb(145, 177, 205);
    padding: 20px;
    box-shadow: 12px 12px 20px #cbced1,
                -12px -12px 20px #ffffff;
}
.container .keyword{
    height: 40vh;
    display: grid;
    grid-template-rows: repeat(4,auto);
    grid-template-columns: repeat(4,auto);
    gap: 10px;

}
button,.likeKeyword{
    outline: none;
    border-radius: 20px;
    border:  solid transparent;
}
.toggle {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background-color: #333;
    transition: all 0.5s ease-in;
    cursor: pointer;
    position: relative;
  }
  .toggle::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #EEE;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: all 0.5s ease-in;
    
  }
  .toggle:checked {
    background: #03FFC0;
  }
  .toggle:checked::before {
    background: #333;
    left: 32px;
  }
  .toggle-continer, .screen{
    display: flex;
    
   
  }
  .toggle-continer{
    gap: 10px;
    align-self: flex-start;
    width: 90px;
  }


  .large-container{
    width: 40%;
  }
 
  .likeKeyword{
    display: none;
    
  }
 
  .keyword-container,.clc-scientifique{
    display: grid;
    grid-template-columns: repeat(2,auto);
    height: 40vh;
    gap: 10px;
  }
  button{
    position: relative;
  }
  span{
    position: absolute;
    
  }

  .Calculatrice-scientifique{
    align-self: center;
  }